[Unit]
Description=Restauration des règles iptables migration
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'test -f /etc/iptables/rules.v4 && iptables-restore < /etc/iptables/rules.v4 || true'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
