[defaults]
host_key_checking = False
timeout = 60
forks = 5

[privilege_escalation]
become_timeout = 60

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ControlMaster=no -o ConnectTimeout=15
pipelining = True
